/* 
  
  Variables
  =========

  Green:    #6BBD2E;
  Yellow:   #FEAA3A;
  Blue:     #3498DB;

*/

* {
  position: relative;
  box-sizing: inherit;
  font-size: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #f9f9f9;
  color: #3a3a3a;
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  margin: 0;
}

a {
  color: #00f;
  text-decoration: none;
}

a:hover, a:focus {
  opacity: 0.75;
}

hr {
  border: none;
  border-top: 0.125rem solid #ddd;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.projects__requested h2 {
  border-bottom: 2px solid #FEAA3A;
}

.projects__requested a,
.meta__requested {
  color: #FEAA3A;
}

.projects__progress h2 {
  border-bottom: 2px solid #3498DB;
}
.projects__progress a,
.meta__progress {
  color: #3498DB;
}

.projects__completed h2 {
  border-bottom: 2px solid #6BBD2E;
}

.projects__completed a,
.meta__completed {
  color: #6BBD2E;
}

.wrap {
  width: 90%;
  margin: auto;
  max-width: 40rem;
}

.site-header {
  padding: 2rem 0;
}

.site-nav {
  display: inline-block;
  float: right;
  overflow: hidden;
}

.site-nav a {
  float: left;
  margin-left: 1rem;
}

.site-title {
  font-weight: bold;
}

.site-footer {
  margin-top: 2rem;
  padding: 2rem 0;
  text-align: center;
  font-size: 0.75rem;
}

.banner {
  background: #00f;
  padding: 2rem 0;
  color: #fff;
  margin-bottom: 2rem;
}

.banner h4 em {
  font-weight: 200;
}

.projects ul,
.projects li {
  list-style: none;
}

.projects li {
  display: block;
  padding: 1rem;
  overflow: hidden;
}

.projects li:hover {
  background: #fff;
}

.project-name,
.project-date,
.project-eta {
  display: inline-block;
  float: left;
}

.project-name {
  width: 50%;
}

.project-date {
  width: 25%;
}

.project-eta {
  width: 25%;
}

.legend {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}

blockquote {
  border-left: 2px solid #00f;
  padding-left: 2rem;
  margin-left: 0;
}

code,
pre {
  background: #fff;
  font-family: monospace;
  font-size: 0.875rem;
}

pre {
  padding: 1rem;
}

code {
  font-size: 16px;
}

.button {
  background: #00f;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
}

.button.download {
  text-align: center;
  display: inline-block;
  margin: 2rem auto;
}